
<h1>Angular Router - AG Grid</h1>
<h2>https://www.ag-grid.com/angular-grid/</h2>
<div>
  <nav>
    <div style="border: 1px black solid;padding:10px;">
    <a routerLink="/first-exercise" routerLinkActive="active">First exercise - Add ag-Grid to Your Project</a>
  </div>
  <div style="border: 1px black solid;padding:10px;">
    <a routerLink="/second-exercise" routerLinkActive="active">Second exercise - Enable Sorting And Filtering</a>
  </div>
  <div style="border: 1px black solid;padding:10px;">
    <a routerLink="/third-exercise" routerLinkActive="active">Third exercise - Fetch Remote Data</a>
  </div>
  <div style="border: 1px black solid;padding:10px;margin-bottom: 20px;">
    <a routerLink="/fourth-exercise" routerLinkActive="active">Fourth exercise- https://www.ag-grid.com/javascript-grid-infinite-scrolling/</a>
    <p>
      <a href="https://www.ag-grid.com/javascript-grid-infinite-scrolling/"> Infinite scrolling</a>
      Simple Example - No Sorting or Filtering
    </p>
  </div>
  </nav>
</div>
<router-outlet></router-outlet>

