
 <ag-grid-angular
 #agGrid
 style="width: 1200px; height: 500px;"
 id="myGrid"
 class="ag-theme-balham"
 [modules]="modules"
 [columnDefs]="columnDefs"
 [defaultColDef]="defaultColDef"
 [components]="components"
 [debug]="true"
 [rowBuffer]="rowBuffer"
 [rowSelection]="rowSelection"
 [rowDeselection]="true"
 [rowModelType]="rowModelType"
 [paginationPageSize]="paginationPageSize"
 [cacheOverflowSize]="cacheOverflowSize"
 [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
 [infiniteInitialRowCount]="infiniteInitialRowCount"
 [maxBlocksInCache]="maxBlocksInCache"
 [rowData]="rowData"
 (gridReady)="onGridReady($event)"
 ></ag-grid-angular>
